.postHeader {
  background-color: #fff;
  padding: 50px 0;

  h1 {
    font-size: 4.6rem;
    line-height: 1;
  }
}

.body {
  font-size: 16px;
  line-height: 22px;
  padding-top: 50px;
  padding-bottom: 40px;
  word-break: break-word;

  p {
    margin-bottom: 10px;
  }
}
